<div class="background">
<div class="main-page-container">
    <!-- Герой-секция -->
    <section class="hero">
       <h1 class="page-title"><img src="https://cdn.7tv.app/emote/01J88SYDS00009MAMR2DZMGAFZ/1x.avif" alt="0">Добро пожаловать на сайт pan_suzume<img src="https://cdn.7tv.app/emote/01J88SYDS00009MAMR2DZMGAFZ/1x.avif" alt="0"></h1>
        <p>Это мой мини-сайт, связанный с моей стримерской деятельностью и не только.</p>
        <a class="menu-button" href="https://www.twitch.tv/pan_suzume">TWICH</a>
    </section>

    <!-- Особенности -->
    <section class="features">
        <div class="feature-card">
            <i class="fas fa-gamepad"></i>
            <h3>Играю во всякое гавно</h3>
            <p>По факту стараюсь искать что-то интересное, но тут реально как пойдет</p>
            <img src="https://cdn.7tv.app/emote/01F6NPEJT0000B70V1XA8MNBC9/4x.avif" alt="1">
        </div>
        <div class="feature-card">
            <i class="fas fa-users"></i>
            <h3>Пропадаю неделями</h3>
            <p>Иногда надо делать перерыв. Чтобы набраться сил и выпрямить руки. Руки не выпрямляются. Силы не набираются. Путь тернист, что поделать</p>
            <img src="https://cdn.7tv.app/emote/01GKCFCXXG0000BEE54GRT497P/4x.avif" alt="2">
        </div>
        <div class="feature-card">
            <i class="fas fa-gem"></i>
            <h3>Заработок денег</h3>
            <p>Явно не стримерством, как бы я не хотел, это всего лишь хобби... Но мне и так хорошо, правда :`(</p>
            <img src="https://cdn.7tv.app/emote/01HBAJNATG000CK4GBCA21HC8A/3x.avif" alt="3">
        </div>
    </section>

    <!-- Пример кода -->
    <section class="code-section">
        <h2 class="section-title">ЕЩЕ НЕМНОГО ИНФОРМАЦИИ</h2>
        
        <div class="code-block">
            <div class="code-header">
                <span>Игры</span>
                <button class="menu-button" (click)="handleCopyButtonClick()">Копировать</button>
            </div>
            <pre><code>Мой игровой стаж: 20 лет. Играл в gameboy, потом зыз(psp), потом купили первый комп на 4 пеньке. Не могу сказать, что успел поиграть во все игры, ставшие классическими -> зато есть что пройти на стримах.
                
                Я люблю играть в целом почти во все жанры (временами одинаково не люблю): ARPG, симуляторы, обычные и градостроительные стратегии, выживачи, метроидвании, поинткликеры, песочницы, френдслопы, индюшатины, карточные рогалики, шутеры, игры где испытываешь боль, слешеры, да короче 
                                ГЛАВНОЕ ЧТОБЫ ИГРА БЫЛА ХОРОШАЯ, могу во все поиграть. 

                список пройденных игр и отзывы на них есть на сайте в разделе "топ игр"
                            
                            </code></pre>

        </div>
        
        <div class="code-block">
            <div class="code-header">
                <span>Что еще</span>
                <button class="menu-button" (click)="handleCopyButtonClick()">Копировать</button>
            </div>
            <pre><code>Знаю польский язык (но не прям супер, но сойдет). Люблю заниматься всякими интеграциями с твичом, умею в стример бот, а еще я ВИТЬЮБЕР, я не стесняюсь, когда то был опыт и с вебкой(на бонгакамс), просто лень запариваться над внешним видом и комнату убирать, поэтому я КОТИК (=^･ｪ･^=)
                А, еще я программист, мой основной стэк .net и angular. Но меня заменили нейронки, поэтому я теперь как в дурке поклоняюсь искусственному интеллекту. 
                  
            </code></pre>
        </div>
    </section>
    <section class="after-code-section">
        <h2 class="section-title">Если хотите помощи в настройке Наград, Команд и Интеграций TWITCH (Streamer.bot)</h2>
        <h2 class="section-title">Или подобный сайт ИЛИ любая автомазицаия</h2>
        <p>Пишите на почту: </p><h2>deepdungeon.fun@ud.me</h2><p> или хз ищите по ссылкам</p>
    </section>
    <!-- Соцсети -->
    <section class="social-section">
        <h2 class="section-title">Ссылки</h2>
        <div class="social-icons">
            <a href="#" class="social-icon"><i class="fab fa-vk"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-telegram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-discord"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitch"></i></a>
        </div>
    </section>
</div>
</div>

<footer>
    <p>Снизу надо что-то добавить, все равно никто даже на сайт не зайдет, ну типа к примеру год: 2025</p>
</footer>