.donate-container {
  color: #e0e0e0;
}

.main-page-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1.5rem;
}

.donate-title {
  color: #bb86fc;
  font-size: 28px;
  margin-bottom: 16px;
}

.donate-text {
  font-size: 18px;
  line-height: 1.6;
  color: #b0bec5;
}

.donate-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
}

.donate-card {
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 180px;
  position: relative;
}

.donate-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.5);
}

.donate-header {
  padding: 12px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.donate-body {
  flex: 1;
  padding: 20px;
  
  background-color: #2b2a2a;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.donate-body span {
  position: relative;
  z-index: 2;
}

.donate-logo {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.08;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Индивидуальные цвета сервисов */
.donation-alerts .donate-header {
  background-color: #f58c07;
}
.meme-alerts .donate-header {
  background-color: #5548a7;
}
.streamlabs .donate-header {
  background-color: #008856;
}
.crypto .donate-header {
  background-color: #b34c08;
}

.donate-container {
  color: #e0e0e0;
}















/* Индивидуальные цвета сервисов */
