<div class="background"> <mat-card appearance="outlined">

<img mat-card-image class="crop" src="https://i.pinimg.com/originals/1b/0b/d0/1b0bd0a53e1a82234d8535fa4e164cbd.gif" alt="Morshu">


  <mat-card-header>
    <mat-card-title>Тут донат типа </mat-card-title>
    <mat-card-subtitle>донейшн алертс</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a matButton href="https://www.donationalerts.com/r/pan_suzume" target="_blank">донейшн алертс</a>
    <button matButton>донат пей</button>
    <button matButton>крипта</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Большие планы</mat-card-title>
    <mat-card-subtitle>написать собственный сервис по отслеживанию крипты и алерты по ней</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
  </mat-card-actions>
</mat-card> </div>
