<div class="donate-container background">
  <div class="main-page-container">
  <!-- Верхняя карточка -->
  <div class="deafult-card-style">
    <h1 class="donate-title">Поддержите меня</h1>
    <p class="donate-text">
      Здесь вы можете поддержать меня.  
      Это не обязательно, но очень приветствуется ❤️
      Донаты дают мотивацию и возможность заниматься творчеством, жаль что мир так устроен :(
      Пока что доступна поддержка в виде Donation alerts (будет показано сообщение на экране) и мемов, в будущем можно будет оплатить криптовалютой и другими сервисами.
    </p>
  </div>

  <!-- Карточки донат-сервисов -->
   <!-- Карточки донат-сервисов -->
  <div class="donate-cards">
    <a class="donate-card donation-alerts" href="https://www.donationalerts.com/r/pan_suzume" target="_blank">
      <div class="donate-header">Donation Alerts</div>
      <div class="donate-body">
        <span>Оплата для рублей и других валют</span>
        <img src="../assets/logos/donation-alerts.png" alt="Donation Alerts" class="donate-logo">
      </div>
    </a>

    <a class="donate-card meme-alerts" href="https://memealerts.com/672aa1b01135f4340a473d8f" target="_blank">
      <div class="donate-header">Meme Alerts</div>
      <div class="donate-body">
        <span>Отправь мемчик</span>
        <img src="../assets/logos/meme-alerts.png" alt="Meme Alerts" class="donate-logo">
      </div>
    </a>

    <!-- <a class="donate-card streamlabs" href="https://streamlabs.com/pan_suzume/tip" target="_blank"> -->
      <a class="donate-card streamlabs">
      <div class="donate-header">Streamlabs Pay</div>
      <div class="donate-body">
        <span>Для ЕС и других стран (скоро)</span>
        <img src="../assets/logos/streamlabs.png" alt="Streamlabs" class="donate-logo">
      </div>
    </a>

    <div class="donate-card crypto">
      <div class="donate-header">Криптовалюта</div>
      <div class="donate-body">
        <span>Без комиссии (скоро)</span>
        <img src="../assets/logos/crypto.png" alt="Crypto" class="donate-logo">
      </div>
    </div>
  </div>
</div>
</div>